Repository kqjatjr/cheese-pub: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, tsc

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx eslint {staged_files} --fix
    tsc:
      glob: '*.{ts,tsx}'
      run: npx tsc --noEmit

prepare-commit-msg:
  commands:
    commitlint:
      run: npx commitlint --edit "$1"

build: add deps prettier
  package-lock.json
  package.json
Due: none

chore: setting up prettier
  .prettierrc
  lefthook.yml
Due: none

build: fix forge config to fix csp policy
  forge.config.ts
Due: eslint, tsc

feat: add mastodon service
  src/activityPub/ActivityPubService.ts
  src/activityPub/MastodonService.ts
  src/activityPub/MastodonService.types.ts
Due: eslint, tsc

feat: doing some experiment about oauth
  electron/index.html
  src/activityPub/MastodonService.types.ts
  src/app.tsx
  src/index.tsx
Due: eslint, tsc

chore: install next-ui related package
  package-lock.json
  package.json
Due: none

chore: add next-ui setting
  postcss.config.js
  src/index.tsx
  src/styles/global.css
  tailwind.config.js
  webpack.renderer.config.ts
Due: eslint, tsc

feat: apply next-ui sample component
  src/app.tsx
Due: eslint, tsc

feat: set text/bg theme
  src/index.tsx
Due: eslint, tsc

feat: add entrypoint to support mastodon oauth redirect
  electron/index.ts
  electron/renderer/main_window/index.html
  electron/renderer/main_window/preload.ts
  electron/renderer/oauth/index.html
  electron/renderer/oauth/script.ts
  electron/utils/ipc.main.ts
  electron/utils/ipc.preload.ts
  forge.config.ts
  src/@types/window.d.ts
  tsconfig.json
  webpack.main.config.ts
  webpack.renderer.config.ts
Due: eslint, tsc

build: add deps - react-router
  package-lock.json
  package.json
Due: none

chore: clean up useless code
  src/app.tsx
Due: eslint, tsc

build: add deps - react-router-dom
  package-lock.json
  package.json
Due: none

feat: setup signin route flow
  electron/renderer/oauth/script.ts
  src/app.tsx
  src/router.tsx
  src/routes/home/index.tsx
  src/routes/paths.ts
  src/routes/signin/callback/index.tsx
  src/routes/signin/index.tsx
Due: eslint, tsc

feat: move oauth callback window to new window
  electron/renderer/oauth/script.ts
  src/router.tsx
  src/routes/paths.ts
  src/routes/signin/callback/index.tsx
  src/routes/signin/index.tsx
Due: eslint, tsc

build: webapck alias configuration
  package-lock.json
  package.json
  webpack.main.config.ts
  webpack.renderer.config.ts
Due: eslint, tsc

refactor: fix src alias from src/* to $*
  src/activityPub/MastodonService.ts
  src/app.tsx
  src/index.tsx
  src/router.tsx
  src/routes/home/index.tsx
  src/routes/signin/index.tsx
  tsconfig.json
Due: eslint, tsc

feat: add server name input element
  src/routes/signin/index.tsx
Due: eslint, tsc

feat: modify authentication code issuance logic and add access token issuance
  src/routes/signin/index.tsx
Due: eslint, tsc

chore: modify login status
  src/routes/home/index.tsx
Due: eslint, tsc

chore: setting tailwind.config.js
  tailwind.config.js
Due: eslint

feat: change login ui
  src/routes/signin/index.tsx
Due: eslint, tsc

chore: add dexie.js
  package-lock.json
  package.json
Due: none

feat: add indexedDB test code
  src/store/indexedDB/db.ts
Due: eslint, tsc

feat: add indexedDB test code
  src/routes/signin/index.tsx
Due: eslint, tsc

fix: fix create db table
  src/store/indexedDB/db.ts
Due: eslint, tsc

build: jotai
  package-lock.json
  package.json
Due: none

build: nanoid
  package-lock.json
  package.json
Due: none

feat: add account & ui global state
  src/atoms/accounts.ts
  src/atoms/ui.ts
  src/constants/activityPub.ts
  src/constants/localStorage.ts
  src/routes/home/index.tsx
  src/routes/signin/index.tsx
  src/store/indexedDB/db.ts
  tsconfig.json
Due: eslint, tsc

chore: madd megalodon related libarary
  package-lock.json
  package.json
  webpack.renderer.config.ts
Due: eslint, tsc

feat: change signin logic to use megalodon
  src/components/AddServerForm.tsx
  src/routes/signin/index.tsx
Due: eslint, tsc

feat: setting react-query
  src/index.tsx
Due: eslint, tsc

feat: add Feed page
  src/atoms/accounts.ts
  src/routes/home/components/Feed.tsx
  src/routes/home/index.tsx
Due: eslint, tsc

feat: add server modal fab
  src/routes/home/components/AddServerFab.tsx
  src/routes/home/index.tsx
Due: eslint, tsc

feat: infinite scroll
  src/components/InfiniteLoading.tsx
  src/routes/home/components/Feed.tsx
  src/routes/home/index.tsx
Due: eslint, tsc

chore: websocket related library
  package-lock.json
  package.json
Due: none

Create README.md
  README.md
Due: none

Update README.md
  README.md
Due: none

chore: set test default server
  src/components/AddServerForm.tsx
Due: eslint, tsc

chore: remove test code
  src/routes/home/components/Feed.tsx
Due: eslint, tsc
