Repository kqjatjr/cheese-pub: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, tsc

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx prettier --ignore-unknown --write {staged_files} && npx eslint --fix {staged_files} && git add {staged_files}
    tsc:
      glob: '*.{ts,tsx}'
      run: npx tsc --noEmit

prepare-commit-msg:
  commands:
    commitlint:
      run: npx commitlint --edit "$1"

feat: add cheese main color
  tailwind.config.js
Due: eslint

feat: add cheese main font family
  tailwind.config.js
Due: eslint

feat: add main bg color
  tailwind.config.js
Due: eslint

feat: add main style
  src/index.tsx
Due: eslint, tsc

feat: change login page ui
  src/components/AddServerForm.tsx
  src/routes/signin/index.tsx
Due: eslint, tsc

Create README.md
  README.md
Due: none

chore: edit readme
  README.md
Due: none

chore: login button text change
  src/components/AddServerForm.tsx
Due: eslint, tsc

fix: 서버주소 없을시 에러 수정
  src/components/AddServerForm.tsx
Due: eslint, tsc

fix: 서버 로그인 취소시 에러나던 현상 수정
  src/components/AddServerForm.tsx
Due: eslint, tsc

feat: add main color
  tailwind.config.js
Due: eslint

feat: 로그인 유무 확인 로직 추가
  src/routes/home/index.tsx
Due: eslint, tsc

feat: 헤더 컴포넌트 추가
  src/routes/home/components/Header.tsx
Due: eslint, tsc

chore: 다크 컬러 추가
  tailwind.config.js
Due: eslint

feat: 로그인 유무 파악 로직 수정
  src/components/AddServerForm.tsx
  src/routes/home/index.tsx
Due: eslint, tsc

fix: 로그인 유지 로직 수정
  src/components/AddServerForm.tsx
  src/index.tsx
  src/routes/home/index.tsx
  src/routes/signin/index.tsx
Due: eslint, tsc

fix: 사이드바 추가
  src/routes/home/index.tsx
  src/routes/signin/index.tsx
Due: eslint, tsc

feat: 사이드바 아바타 레이아웃 추가
  src/components/Sidebar.tsx
  src/routes/home/index.tsx
Due: eslint, tsc

fix: 불필요한 로직 제거
  src/routes/signin/index.tsx
Due: eslint, tsc

feat: 계정 아바타 및 정보 받아오기 추가
  src/components/Sidebar.tsx
Due: eslint, tsc

chore: 불필요한 코드 제거
  src/components/Sidebar.tsx
Due: eslint, tsc

feat: 테스트용 코드 추가
  src/routes/home/components/Feed.tsx
Due: eslint, tsc

feat: 계정 정보 api 외부로 이동
  src/components/Sidebar.tsx
  src/routes/home/index.tsx
  src/routes/signin/index.tsx
Due: eslint, tsc

feat: 불필요한 코드 제거
  src/components/Sidebar.tsx
Due: eslint, tsc

feat: 피드 이미지 추가
  src/routes/home/components/Feed.tsx
Due: eslint, tsc

feat: 업로드한 파일 타입이 이미지인경우에만 이미지 노출
  src/routes/home/components/Feed.tsx
Due: eslint, tsc

feat: 서버추가 버튼 사이드바로 이동
  src/components/Sidebar.tsx
  src/routes/home/components/AddServerFab.tsx
  src/routes/home/index.tsx
Due: eslint, tsc

feat: 피드별 로그인한 계정 이름 노출 기능 추가
  src/routes/home/components/AddServerFab.tsx
  src/routes/home/components/Feed.tsx
  src/routes/home/index.tsx
Due: eslint, tsc

feat: 홈페이지 로딩 기능 추가
  src/routes/home/index.tsx
Due: eslint, tsc

fix: 중복 코드 삭제
  src/routes/home/index.tsx
Due: eslint, tsc

feat: editor 컴포넌트 추가
  src/components/Editor.tsx
  src/routes/home/index.tsx
Due: eslint, tsc

feat: 현재 포커스한 인스턴스 값 추가
  src/components/Sidebar.tsx
  src/routes/home/index.tsx
Due: eslint, tsc

chore: 불필요한 코드 제거
  src/routes/home/components/Feed.tsx
  src/routes/home/index.tsx
Due: eslint, tsc

feat: 에디터에 현재 선택된 인스턴스 전달
  src/routes/home/index.tsx
Due: eslint, tsc

feat: 텍스트 포스팅 기능 추가
  src/components/Editor.tsx
Due: eslint, tsc

chore: 불필요한 코드 제거
  src/routes/home/components/Feed.tsx
Due: eslint, tsc

feat: file upload 추가
  src/components/Editor.tsx
Due: eslint, tsc

chore: 함수명 변경
  src/components/Editor.tsx
Due: eslint, tsc

chore: readme 수정
  README.md
Due: none
